.signup {
  background-image: url("/TOPS-Projesct/public/Images/Alphabet.webp");
  background-size: cover;
  background-position: center;
}

.signupform {
  backdrop-filter: blur(20px);
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0px 0px 20px black;
}
